<div class="jumbotron col-md-10">
  <div class="container-fluid">
    <h1>Welcome to the online canteen</h1>
    <p>Developed by Coding Queens</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>